.c-light{
	color : $light !important;
}
.c-primary{
	color : $primary !important;
}

.c-secondary{
	color:$secondary !important;
}

.c-darker{
	color:$darker !important;
}

.c-dark{
	color:$dark !important;
}

.c-info{
	color: $info !important;
}

.bg-primary{
	background-color: $primary !important;
}


.bg-secondary{
	background-color: $dark !important;
}

.bg-dark{
	background-color: $dark !important;
}

.bg-darker{
	background-color: $darker !important;
}

.border{
	&-primary{
		border-collapse: collapse !important;
		border: 1px solid $primary !important;
		&-top{
			border-top: 1px solid $primary;
		}
		&-bot{
			border-bottom: 1px solid $primary;
		}
		&-left{
			border-left: 1px solid $primary;
		}
		&-right{
			border-right: 1px solid $primary;
		}
	}
}

.hover-bg-primary{
	&:hover{
		color: $light !important;
		background-color: $primary !important;
	}
}

.hover-bg-dark{
	&:hover{
		color: $light !important;
		background-color: $dark !important;
	}
}


.flex{
	display:flex;
	&-grow-1{
		flex-grow: 1;
	}
}


