#chattop{
	height: 2rem;
	margin: 0;
	width: 100%;
	display: inline-flex;
	*{
		padding: 0.5rem;
		text-align: center;
		flex-grow: 1;
	}
}
.chatmain{
	overflow: hidden;
	word-wrap: break-word;
	padding: 0;
	padding-right: 17px;
	list-style-type: none;
	margin: 0;
	li{
		width: 100%;
		padding: 1rem !important;
		color: $light;
		.author{
			font-size: 1rem;
		}
		.msg{
			font-size: 1rem;
			display: block;
		}
		.msgtime{
			font-size: 0.75rem;
			float: right;
			margin-right: 2rem;
		}
	}

	&:hover {
		padding-right: 0;
		overflow-y: scroll;
	}
}

.chatbot{
	height: 2rem;
	width: 100%;
	padding: 0;
	margin: 0;
	bottom: 0;
	display: inline-flex;
	input{
		overflow: hidden;
	}
}