#create-room{
    max-width:30%;
    margin:50px auto;
    border-radius:2px;
    padding:20px;
    font-family: Georgia, "Times New Roman", Times, serif;
    ul{
        list-style:none;
        padding:0;
        margin:0;	
    }
    li{
        display: block;
        padding: 9px;
        margin-bottom: 30px;
        border-radius: 3px;
    }
    li:last-child{
        height: 2rem;
        border:none;
        margin-bottom: 0px;
        padding: 0px;
        text-align: center;
    }
    li > label{
        display: block;
        float: left;
        margin-top: -1.5rem;
        height: 1.5rem;
        padding: 2px .5rem 2px .5rem;
        font-size: 1.5rem;
        overflow: hidden;
        font-family: Arial, Helvetica, sans-serif;
    }
    input[type="text"]{
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        width: 100%;
        display: block;
        outline: none;
        border: none;
        height: 2rem;
        line-height: 2rem;
        font-size: 1.5rem;
        padding: 0;
        font-family: Georgia, "Times New Roman", Times, serif;
    }

    li > span{
        display: block;
        padding: 3px;
        margin: 0 -9px -9px -9px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1rem;
    }
    textarea{
        resize:none;
    }
    input[type="submit"],
    input[type="button"]{
        border: none;
        width: 100%;
        height: 2rem;
        font-size: 1.5rem;
    }

    button{
        border: none;
        width: 100%;
        height: 2rem;
        font-size: 1.5rem;
    }
    
}