.header{
    display: flex;
    height: auto;
    margin: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: right;
    .brand{
        &-img{
            vertical-align: middle;
            width: 2.5rem;
            height: 2.5rem;
        }
        &-title{
            vertical-align: top;
            font-size: 2rem;
        }
        &-descrition{
            vertical-align: top;
            font-size: 1rem;
        }
        margin-right: 2rem;
    }
    .nav-elements{
        flex-grow: 1;
        display: flex;
        *{
            margin-left: 1rem;
            flex-grow: 1;
        }
        span{
            margin-top: 0.5rem;
        }
        form{
            float: right;
            display: inline-flex;
        }

    }
}
