#searchResults, #related, #playlistVids{
	height: 11rem;
	list-style: none;
	padding: 0;
	overflow: auto;
	white-space: nowrap;
	li{
		display: inline-block;
		text-align: center;
		margin: 0 1rem;
		img{
			margin-right: -16rem;
			height: 9rem;
			width: 16rem;
			opacity: 1;
		}
		button{
			position: relative;
			padding: 0.5rem;
			float: right;
			height: auto;
			z-index: 2;
		}
        .resultTitle{
			position: relative;
			float: right;
			padding: 0;
			width: 11.8rem;
			height: auto;
			z-index: 1;
			overflow: auto;
			color: $primary;
        }
    }
}

.closeResults,.addAllResults,.showRelated{
    float: right;
    height: 2rem;
}
