<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Vidsync allows users to watch YouTube videos together over the internet. Create or join Rooms to watch with your friends">
	<!-- Twitter Card data -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@publisher_handle">
	<meta name="twitter:title" content="Vidsync.de - Watch Youtube videos together!">
	<meta name="twitter:description" content="Create or join rooms to watch Youtube together!">
	<meta name="twitter:creator" content="@qx4mx">
	<meta name="twitter:image" content="https://vidsync.de/resources/img/favicon.png">

	<!-- Open Graph data -->
	<meta property="og:title" content="Vidsync.de - Watch Youtube videos together!" />
	<meta property="og:type" content="video.movie" />
	<meta property="og:url" content="https://vidsync.de/" />
	<meta property="og:image" content="https://vidsync.de/resources/img/favicon.png" />
	<meta property="og:description" content="Create or join rooms to watch Youtube together!" />
	<meta property="og:site_name" content="Vidsync.de" />

	<title>vidsync - Watch Youtube together</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="shortcut icon" type="image/png" href="resources/img/favicon.png" />

</head>

<body class="c-light bg-dark">
	<!-- Url/Chat 3 - VidPlayer 6 - VidControll 3 -->
	<nav class="header bg-darker c-primary">
		<!-- Navbar content -->
		<a href="/">
			<img src="resources/img/favicon.png" class="brand-img" alt="Vidsync allows users to search and watch Youtube videos synchronized together.">
			<span class="brand-title c-light">VIDSYNC</span>
			<span class="brand-descrition c-primary">Watch Youtube videos together!</span>
		</a>
		<div class="nav-elements text-right">
			<div>
				<a href="https://angular.vidsync.de"><button type="button" class="bg-dark c-primary border-primary hover-bg-primary">New Vidsync Version at angular.vidsync.de</button></a>
				<span id="currentUserNameHtml"></span>
				<button type="button" class="bg-dark c-primary border-primary hover-bg-primary" data-toggle="modal"
					data-target="#userNamePopUp">Set Username</button>
			</div>

		</div>
	</nav>

	<h1 class="text-center">Create Own Room</h1>
	<form id="create-room" class="bg-darker rounded" autocomplete="off">
		<ul>
			<li class="border-primary">
				<label for="name" class="bg-darker c-primary">Name</label>
				<input id="roomVal" type="text" name="name" maxlength="20" class="c-primary bg-darker" value="">
				<span class="c-primary bg-dark">Enter Room name above</span>
			</li>
			<li class="border-primary">
				<label for="email" class="bg-darker c-primary">Privacy</label>
				<button id="privacyVal" type="button" class="c-primary bg-darker">{{privacyVal}}</button>
				<span id="privacyDesc" class="c-primary bg-dark">{{privacyDesc}}</span>
			</li>
			<li class="border-primary">
				<label for="url" class="bg-darker c-primary">Editable</label>
				<button id="editVal" type="button" class="c-primary bg-darker">{{editVal}}</button>
				<span id="editDesc" class="c-primary bg-dark">{{editDesc}}</span>
			</li>
			<li class="border-primary">
				<label for="bio" class="bg-darker c-primary">Permanent</label>
				<button id="permVal" type="button" class="c-primary bg-darker">{{permVal}}</button>
				<span id="permDesc" class="c-primary bg-dark">{{permDesc}}</span>
			</li>
			<li class="border-primary">
				<input id="joinRoom" type="button" class="bg-darker c-primary" value="Create Room">
			</li>
		</ul>
	</form>
	
	
	<h1 id="pubRoomsHeader" class="text-center">Public Rooms</h1>
	<div id="pubRooms"></div>
	<!-- Cookie Warning and Discord link -->
	<div class="text-center">
		<p class="c-primary">This Site uses Cookies to remember your Username.It will be reset if you block
			Cookies for this site.</p>
	</div>
	<!-- UserName Popup -->
	<div class="modal border-primary bg-dark" id="userNamePopUp" tabindex="-1" role="dialog"
		aria-labelledby="userNamePopUp" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content bg-dark">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Set your Username</h5>
				</div>
				<div class="modal-main">
					<form id="userNameForm" class="">
						<div class="">
							<input type="text" id="newUserNameVal" class="bg-darker c-light border-primary"
								autocomplete="off" value="" maxlength="20">
						</div>
					</form>
					<p class="c-primary">Maximal 20 characters, SYSTEM names like Room,Info and System are not allowed
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="cancel" data-dismiss="modal">Cancel</button>
					<button id="newUserName" form="userNameForm" type="submit" class="confirm"
						data-dismiss="modal">Confirm</button>
				</div>
			</div>
		</div>
	</div>

	<script src="js/jquery-3.4.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="js/helperMethods.js"></script>
	<script src="js/SocketEvent.js"></script>
	<script src="js/Cookie.js"></script>
	<script src="js/Socket.js"></script>
	<script src="js/indexpage.js"></script>
</body>

</html>